.container-box {
    display: flex;
    justify-content: flex-start;
    margin: 10px 5%;
    padding: 5px 10px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
}

.container-box__info {
    margin-top: 20px;
    margin-left: 10px;
    width: 60%;
}

.container-box__title {
    font-size: 9px;
    font-weight: 500;
}

.container-box__value {
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
    border-bottom: 1px solid darkgray;
}

.container-box__info__readonly {
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}

.score-info {
    position: relative;
    right: 0;
}

.container-box__info__readonly .container-box__value {
    border: none;
}

.current-player {
    border-radius: 50%;
    border: 7px solid orange;
}

.transparent-border {
    border: 7px solid rgba(0, 0, 0, 0);
}


.score-board {
    width: 70%;
}

.score-board .player-tile {
    width: 46px;
    height: 47px;
}

.score-board .tile-container {
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 550px) {
    .score-board .player-tile {
        width: 57px;
        height: 58px;
    }

    .container-box__title {
        font-size: 12px;
        font-weight: 500;
    }

    .container-box__value {
        font-size: 18px;
        width: 100%;
        margin-top: 5px;
        border-bottom: 1px solid darkgray;
    }

    .container-box__info__readonly {
        margin-left: 10px;
        width: 60px;
    }
}


@media screen and (min-width: 700px) {
    .score-board .player-tile {
        width: 74px;
        height: 74px;
    }
}