.game-container {
    color: #424242;
}

.game-board {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.game-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.game-header__title {
    display: flex;
    flex-basis: 87%;
    justify-content: center;
}

.score-board-container {
    display: flex;
    justify-content: space-around;
}

.score-board-container .container-box {
    width: 150px;
    margin: 10px
}

.current-game-info {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    top: -100px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
    width: 384px;
    height: 350px;
}

.game-info {
    position: relative;
    margin-top: 10px;
    background: #F5F5F5;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
    padding-bottom: 100px;
    z-index: 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.game-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.game-button {
    border: none;
    outline: none;
    border: 1px solid #4B7BFF26;
    border-radius: 10px;
    color: #4B7BFF;
    margin-left: 10px;
    height: 40px;
    width: 150px;
    font-size: 16px;
}

.next-game-button, .undo-button, .play-again-button  {
    background: #4B7BFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #70707026;
    border-radius: 10px;
    color: white;
}

.end-tournament-button {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #4B7BFF26;
    border-radius: 10px;
    color: #CC0000; 
}

@media screen and (min-width: 550px) {
    .score-board-container .container-box {
        width: 200px;
        margin: 20px;
    }

    .game {
        padding: 20px 0;
        width: 524px;
    }
}

@media screen and (min-width: 800px) {
    .score-board-container {
        flex-direction: column;
    }

    .score-board-container .container-box {
        width: 250px;
        margin: 10px;
    }

    .game-board {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .game {
        top: 5px;
        width: 0;
        position: relative;
        z-index: 10;
        left: 50px;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #F7F7F7;
        border-radius: 30px;
        width: 550px;
        height: 571px;
        padding: 0 20px;
    }
    
    .info {
        height: 100px;
    }

    .game-info {
        position: relative;
        margin-top: 10px;
        background: #F5F5F5;
        border: 1px solid #F7F7F7;
        border-radius: 30px;
        padding-bottom: 0px;
        padding-left: 100px;
        padding-right: 20px;
        left: -50px;
        z-index: 0;
    }

    .game-button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        margin-top:  30px;
        margin-left: 20px;
        border-top: 1px solid lightgray;
        width: 80%;
    }
    
    .game-button {
        margin-top: 20px;
        margin-bottom: 10px;
        height: 50px;
        width: 200px;
        font-size: 20px;
    }
}